@import 'src/sass/mixins.scss';
@import 'src/sass/variables.scss';

.button {
  @include button;
  border: none;
  background-color: $han-purple;
  color: $grey--background;
}

.big {
  width: 382px;
  height: 60px;
  font-size: 18px;
  line-height: 25px;
  justify-self: end;
}

.small {
  width: 198px;
  height: 51px;
  font-size: 16px;
  line-height: 19px;
}
