.lds-ring {
  display: inline-block;
  position: fixed;
  width: 180px;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #808080 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
