@import '../../../sass/variables.scss';

.siteHeader {
  min-height: 91px;
  background-color: $grey--background;
  display: flex;
  align-items: center;
}

.siteNav {
  display: flex;
  align-items: center;
}

.login {
  display: block;
  padding: 12.5px;
  min-width: 203px;

  &:hover {
    opacity: .5;
  }
}
