@import '../../sass/variables.scss';

.app {
  height: 100%;
  font-family: $font-default;
  font-size: $font-size--default;
  line-height: $line-height--default;
}

.wrapper {
  margin: 0 auto;
  width: $wrapper-width;
}
