@import '../../sass/variables.scss';

.link {
  width: 149px;
  margin-right: 58px;
  margin-bottom: 7px;
  font-family: $font-logo;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.logo {
  margin-right: 10px;
}
